@model ProductsListViewModel
<div class="card-columns p-3">
    @foreach (var p in Model.Products)
    {
        <partial name="ProductSummary" model="@p" />
    }
</div>
<div class="text-center pb-4">
    <div page-model="@Model.PagingInfo" page-action="List" page-classes-enable="true"
         page-class="btn" page-class-normal="btn_secondary" page-class-selected="btn-primary"
         page-url-category="@Model.CurrentCategory" class="btn-group m-1">
    </div>
</div>
